In [37]:
bob = ['Bob Smith', 42, 30000, 'software']
sue = ['Sue Jones', 45, 40000, 'hardware']

In [32]:
bob[0], sue[2]

('Bob Smith', 40000)

In [3]:
bob[0].split()[-1]

'Smith'

fetch bob's last name, split it into a list of substrings around spaces and index his last name

In [4]:
bob[0].split()

['Bob', 'Smith']

In [5]:
bob[0].split()[-2]

'Bob'

In [18]:
bob[0].split()[-1]

'Smith'

In [6]:
bob[0].split()[0] #0=first name

'Bob'

In [19]:
bob[0].split()[1] #1=second name

'Smith'

In [38]:
sue[2]*=1.25
sue

['Sue Jones', 45, 50000.0, 'hardware']

now create a database

In [39]:
people = [bob, sue]
for person in people: #created new variable person 
    print (person)

['Bob Smith', 42, 30000, 'software']
['Sue Jones', 45, 50000.0, 'hardware']

first []: selects from people = [bob, sue] 
bob=[0], sue=[1]

second []: selects from bob = ['Bob Smith', 42, 30000, 'software']
                        sue = ['Sue Jones', 45, 40000, 'hardware']
42=[1], hardware=[3]

In [11]:
people[1][0]

'Sue Jones'

In [12]:
people[0][1]

42

In [13]:
people[1][1]

45

In [17]:
people[0][3]

'software'

In [40]:
for person in people:
    print(person[0].split()[-1]) #split name into sub strings 
    person[2] *=1.20

Smith
Jones

In [41]:
for person in people: print(person[2])

36000.0
60000.0

In [42]:
pays=[person[2] for person in people ]
pays

[36000.0, 60000.0]

In [43]:
pays=map((lambda x: x[2]), people)
list (pays)

[36000.0, 60000.0]

In [44]:
sum(person[2] for person in people )

96000.0

In [46]:
people.append(['Tom', 50, 0, None])#added a new person to people variable
len(people)#length of people

3

In [49]:
people[-1][0]

'Tom'

In [50]:
NAME, AGE, PAY = range(3)
bob=['Bob Smith', 42, 10000]
bob[NAME]

'Bob Smith'

In [51]:
PAY, bob[PAY]

(2, 10000)

In [55]:
bob =[['name','Bob Smith'], ['age', 42], ['pay', 10000]]
sue =[['name','Sue Jones'], ['age', 45], ['pay', 20000]]
people = [bob,sue]
for person in people:
    print(person[0][1], person[2][1])

Bob Smith 10000
Sue Jones 20000

In [59]:
[person[0][1] for person in people] #collects names
#person collects data for bob and sue
#[0] collects data from the name [] 
#[1] collects the second index in that[]

['Bob Smith', 'Sue Jones']

In [61]:
for person in people:
    print(person[0][1].split()[-1])
    person[2][1]*=1.10
    print(person[2])

Smith
['pay', 12100.000000000002]
Jones
['pay', 24200.000000000004]

In [63]:
for person in people:
    for(name, value) in person:
        if name =='name':print(value)

Bob Smith
Sue Jones

In [68]:
def field(record, label):
    for(fname, fvalue) in record:
        if fname==label:
            return fvalue

In [70]:
field(bob,'name')

'Bob Smith'

In [72]:
field (sue, 'pay')

24200.000000000004

In [75]:
for rec in people:
    print(field(rec, 'age'))#print the record of all ages

42
45

bob and sue are objects that map field names to values automatically

In [79]:
bob ={'name':'Bob Smith', 'age': 42, 'pay': 30000, 'job':'dev'}
sue ={'name':'Sue Jones', 'age': 45, 'pay': 40000, 'job':'hdw'}

In [82]:
bob['name'], sue['pay']

('Bob Smith', 40000)

In [84]:
bob['name'].split()[-1]

'Smith'

In [86]:
sue['pay']*=1.10
sue['pay']

48400.00000000001

dict = dictionary

In [88]:
bob=dict(name='Bob Smith', age=42, pay=30000, job='dev') 
sue=dict(name='Sue Jones', age=45, pay=40000, job='hdw')
bob

{'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}

In [90]:
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [93]:
sue={}
sue['name']='Sue Jones'
sue['age']=45
sue['pay']=40000
sue['job']='hdw'
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [95]:
names =['name','age','pay','job']
values=['Sue Jones', 45, 40000,'hdw']
list(zip(names,values))

[('name', 'Sue Jones'), ('age', 45), ('pay', 40000), ('job', 'hdw')]

In [98]:
sue=dict(zip(names,values))
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [101]:
people=[bob,sue]
for person in people:
    print(person['name'], person['pay'],sep=',')#sep=separate values

Bob Smith,30000
Sue Jones,40000

In [103]:
for person in people:
    if person['name']=='Sue Jones':
        print(person['pay'])

40000

In [105]:
names=[person['name']for person in people]
names

['Bob Smith', 'Sue Jones']

In [107]:
list(map((lambda x: x['name']), people))

['Bob Smith', 'Sue Jones']

In [109]:
sum(person['pay'] for person in people)#sum all values under pay

70000

In [111]:
[rec['name'] for rec in people if rec['age']>=45]

['Sue Jones']

In [113]:
[(rec['age'] ** 2 if rec['age']>=45 else rec['age']) for rec in people]

[42, 2025]

In [116]:
G=(rec['name'] for rec in people if rec['age'] >=45)
next(G)

'Sue Jones'

In [119]:
G=((rec['age']** 2 if rec['age']>=45 else rec['age'])for rec in people)
G.__next__() #two _ _

42

In [120]:
for person in people:
    print(person['name'].split()[-1])
    person['pay']*=1.10

Smith
Jones

In [122]:
for person in people: print(person['pay'])

33000.0
44000.0

In [124]:
bob2 = {'name':{'first': 'Bob', 'last': 'Smith'},
       'age': 42,
       'job': ['software', 'writing'],
       'pay': (40000, 50000)}

In [126]:
bob2['name']

{'first': 'Bob', 'last': 'Smith'}

In [128]:
bob2['name']['last']

'Smith'

In [132]:
bob2['pay'][1]

50000

In [134]:
bob2['job'][0]

'software'

In [136]:
for job in bob2['job']: print(job)

software
writing

In [137]:
bob2['job'][-1]#minus means last

'writing'

In [140]:
bob2['job'].append('janitor')
bob2

{'name': {'first': 'Bob', 'last': 'Smith'},
 'age': 42,
 'job': ['software', 'writing', 'janitor', 'janitor', 'janitor'],
 'pay': (40000, 50000)}

In [142]:
bob=dict(name='Bob Smith', age=42, pay=30000, job='dev') 
sue=dict(name='Sue Jones', age=45, pay=40000, job='hdw')
bob

{'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}

In [145]:
db={}
db['bob']=bob
db['sue']=sue

In [147]:
db['bob']['name']

'Bob Smith'

In [149]:
db['sue']['pay']=50000

In [151]:
db['sue']['pay']

50000

In [153]:
db

{'bob': {'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'},
 'sue': {'name': 'Sue Jones', 'age': 45, 'pay': 50000, 'job': 'hdw'}}

In [155]:
import pprint #pprint (pretty printer) is a library 
pprint.pprint(db)

{'bob': {'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000},
 'sue': {'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 50000}}

In [156]:
for key in db:
    print(key,'=>', db[key]['pay'])

bob => 30000
sue => 50000

In [158]:
for key in db:
    print(db[key]['name'].split()[-1])
    db[key]['pay'] *=1.10

Smith
Jones

In [160]:
for record in db.values(): print(record['pay'])

33000.0
55000.00000000001

In [162]:
x=[db[key]['name'] for key in db]
x

['Bob Smith', 'Sue Jones']

In [164]:
x=[rec['name'] for rec in db.values()]
x

['Bob Smith', 'Sue Jones']

In [166]:
db['tom']=dict(name='tom', age=50, job=None, pay=0)

In [168]:
db['tom']

{'name': 'tom', 'age': 50, 'job': None, 'pay': 0}

In [170]:
[rec['age'] for rec in db.values()]

[42, 45, 50]