In [37]:
bob = ['Bob Smith', 42, 30000, 'software']
sue = ['Sue Jones', 45, 40000, 'hardware']

In [32]:
bob[0], sue[2]

('Bob Smith', 40000)

In [3]:
bob[0].split()[-1]

'Smith'

fetch bob's last name, split it into a list of substrings around spaces and index his last name

In [4]:
bob[0].split()

['Bob', 'Smith']

In [5]:
bob[0].split()[-2]

'Bob'

In [18]:
bob[0].split()[-1]

'Smith'

In [6]:
bob[0].split()[0] #0=first name

'Bob'

In [19]:
bob[0].split()[1] #1=second name

'Smith'

In [38]:
sue[2]*=1.25
sue

['Sue Jones', 45, 50000.0, 'hardware']

now create a database

In [39]:
people = [bob, sue]
for person in people: #created new variable person 
    print (person)

['Bob Smith', 42, 30000, 'software']
['Sue Jones', 45, 50000.0, 'hardware']

first []: selects from people = [bob, sue] 
bob=[0], sue=[1]

second []: selects from bob = ['Bob Smith', 42, 30000, 'software']
                        sue = ['Sue Jones', 45, 40000, 'hardware']
42=[1], hardware=[3]

In [11]:
people[1][0]

'Sue Jones'

In [12]:
people[0][1]

42

In [13]:
people[1][1]

45

In [17]:
people[0][3]

'software'

In [40]:
for person in people:
    print(person[0].split()[-1]) #split name into sub strings 
    person[2] *=1.20

Smith
Jones

In [41]:
for person in people: print(person[2])

36000.0
60000.0

In [42]:
pays=[person[2] for person in people ]
pays

[36000.0, 60000.0]

In [43]:
pays=map((lambda x: x[2]), people)
list (pays)

[36000.0, 60000.0]

In [44]:
sum(person[2] for person in people )

96000.0

In [46]:
people.append(['Tom', 50, 0, None])#added a new person to people variable
len(people)#length of people

3

In [49]:
people[-1][0]

'Tom'